# The following package distribution directories could not be load by the operator-framework/api as a bundle
unable: {{ with .Errors }}{{ range . }}
    # Error faced: {{ .Error }}
    - {{ .Path }} {{ end }}{{ end }}
# The following package distribution directories were identified using deprecated/removed API(s) on 1.22/k8s and still requiring changes
# after run the script to set max ocp version annotation.
need: {{ with .RequiresUpdate }}{{ range . }}
    - {{ .Path }} {{ end }}{{ end }}
# The following package distribution directories were updated automatically
updated: {{ with .BundleUpdated }}{{ range . }}
    - {{ .Path }} {{ end }}{{ end }}
# The following package of distribution directories are not loading after the changes made
# Note that if we have here entries which are not in the first field `unable` that means,
# that the script broke something
broken: {{ with .BundleUnload }}{{ range . }}
    - {{ .Path }} {{ end }}{{ end }}
# The following package of distribution directories does not requires changes
migrated: {{ with .BundlesMigrated }}{{ range . }}
    - {{ .Path }} {{ end }}{{ end }}