apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "maistra.io/v1alpha1",
          "kind": "Session",
          "metadata": {
            "name": "session-sample"
          },
          "spec": {
            "ref": [
              {
                "args": {
                  "image": "quay.io/maistra-dev/istio-workspace-test:latest"
                },
                "name": "ratings-v1",
                "strategy": "prepared-image"
              }
            ],
            "route": {
              "name": "x-workspace-route",
              "type": "header",
              "value": "feature-x"
            }
          }
        }
      ]
    capabilities: Basic Install
    categories: Developer Tools
    containerImage: quay.io/maistra/istio-workspace:v0.2.0
    createdAt: 2021-04-30T11:39:09Z
    description: Safely develop and test on any Kubernetes cluster without affecting others.
    operators.operatorframework.io/builder: operator-sdk-v2.0.0+git
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v3
    repository: https://github.com/maistra/istio-workspace
    support: Red Hat, Inc.
  name: istio-workspace-operator.v0.2.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: Session controls the creation of the specialized hidden routes.
      displayName: Session
      kind: Session
      name: sessions.maistra.io
      version: v1alpha1
  description: |
    Istio Workspace enables developers to:
    
     * run one or more services locally during development but make it appear like it would be developed in the actual cluster
       * this way you can use your favourite development tools
       * have instant feedback loop
       * don't make your machine overheating trying to run the whole cluster locally
     * safely preview incoming changes in pull requests without affecting regular users 
     * have confidence in testing or troubleshooting your services directly in the cluster
    
    Istio Workspace supports testing on multi-user environment in an unobtrusive way.
    It doesn’t really matter if it is QE cluster or actual production. We give you confidence that your changes won’t blow up the cluster, and your users won’t even notice a glitch.
    
    You will need [Kubernetes](https://k8s.io) or [Openshift](https://openshift.com) cluster with  [Istio](https://istio.io/) installed. 
    
    You can read more about our vision on [Red Hat Developer’s blog](https://developers.redhat.com/blog/2020/07/14/developing-and-testing-on-production-with-kubernetes-and-istio-workspace/) or ...
    
    ## See it in action!
    
    [![https://youtu.be/XTNVadUzMCc](https://img.youtube.com/vi/XTNVadUzMCc/hqdefault.jpg)](https://youtu.be/XTNVadUzMCc)
    
    Watch demo: ["How to develop on production: An introduction to Istio-Workspaces"](https://youtu.be/XTNVadUzMCc).
    
    ## Documentation
    
    More details can be found on our [documentation page](https://istio-workspace-docs.netlify.com/).
    
  displayName: Istio Workspace
  icon:
  - base64data: iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAD0hJREFUeNrsW2l0VNUd/983e7bJOgkJy4RdFiEC6hEwsSJQPAhaD25FYtWKtR/w9Isfelr8Zj+VnuqXHiuh59SlChIthKKFqIAKCgkoypqEBEI2mCSTZPbX/71vu++9mWFmkqCnxxcu981b7tzf77/c//3fOwRuwrHmqd9WY1WDZSGWfHZOpHtEOQHwYWmS60Z6vueNv34y3n0j49Xwz2tfWIdVrQw23wA2bi/i3Kdk7KYFyaj/0ROwetNv3NjiFhm41wSI8KckHSLo0YplKxKx40dJwKpNz2/Caht2Pj8lwMnBJrtPidgyVhoxagJWPfn8FKzqeLs2dXw0kk98j/qJ9UhE/w9GwMonNzOpy44tNdApaEUaZPhkEjJ2lpZMX7xv43N/lME7WYdMWEjmRKSuFU7qb2ZW3dF67sTR5ptGwIpf/no7IWSLuV8E4veXjLdWrM+UBJIJeNnLa40QAqmQMcFjBxfqS+Vkhw5QZ3cYAsEYtFwKjdZx1u5949Ud40bAvU88u0l2ePFBG665HALMmemCOTNcrE7loGR8dy4Ax78ZBt9ANBOtqN27PXUSUibgZ48/U41PN8Zj3wi8wG2FFcvdDLjLKWTsZFsuBeHAkUFoaQ+loxXUMdYgCc1jRgCCd8thqjep2uO1FcvcDLzxsFqzwWkvAIcDBwxRfy8WC0Eg5IORQHdCInY2+FSNSEErmpCAqjEj4J7Hnv4zDT4kszZ/Mb02wWODDWuLobzUrt6yIegC92zIyZoINlt2/MZFhQ2R8eIf6gD/cAcM+Ft1j40EYrD3QD+c+GYkVce5tWH7ay+PmoCax35FJzKN8by2cm3uzCwGXlF3B0q6tGgRZLnKkrQscmeigRARwuEh6PWdMhFx5Cs/EjGQ6gjiRRLaRjUMeudV1amqH8cLL16QA0886EFpS9c8RYuh3LMUJZ5LbQL/Ccw0jAWYCRG5NeVPuUTAItghN3siak8FjhB9EI0GWPuTyu2Qn2eB0+dHUhlO8883HavPWAOqH3lqAT7RlGg8ryh1wIvPVrBzQbDBlPJV4HQUJmiamCTPf2ZaICqfRfUq1Ygo+ojuvuOoDS3qW4eZJvSnEld4G+oSa0FSF43d2CKKotIn1i2lo9TTb95Ypqr89MkPI/gi+dsFuUsCV5Q/7ZrpWVljgHte0gYHTCi5E/JyKtW+LV2cA1Vzs0x9U4nUrm9JhjEhAcs3bHLj27W6xmUy6Pkja0vQ5i0oeTtKfjVYLA4NnAJEUXV2zheiNw+VEJkMdl0hQlBNxkjC/fe60RwEPWjgBCV9qM2IABpeGoErjS++NReme6XAxovgrRanZtc6CRqlT0zXWRdUQginGbKv4PyEQoLL6ZECLXS6v7i/UAc6jsbm41S9Om0CsKEaI3Dl86rqAnattPh2cDqLZIemB6tI0yx9uQAxEKWRoREhGLRBIqGi9G7mc+gxFcPqykkOnWsxmQIKMyMCeOCiPF5Tr1+Yb0O7L4Si/Hk64DxgxQxIoj+iqLbAEagBZ0QAMWiD9IzFYsfRZpEWoi/LNWmqQStq0iJg6cMbaSjn5YHLpED1nZL0y1AVNWkTDTQPQlVfIY7zM2iAaj58m4lJcOdOZdGlpAVOyHdbwCQwresL0yIAX17IGlEGI7nBchz2KsocGNIWQo6r3KCyvEcnmgbonCHv/ASDzQvqe8D5CoXYeCQUF8xX+0znHSaBcVqxcuPmBemYwEJtGNaIUBxfft5MTkKCAbim0npJCybN0AjkTAgU0nhtiEcCgdysSWqHF83P1mmqiQh0huloQD4PXCFCISA3x6tTTz1wohvHCee8gOiv6Z2lEgPovb6OBM4cgPkCB5tn0IPOQXjQPBHy9YWpE8B5UbUR/Ksoc6L6F4HdlqcDHw848A6Ok54+NiAmIoiBWB0J/D35eparVO03HREMoHVCjYfVmmyeIhJRCzPxtKjAxqK9hB1UPxsnJiTuJIheV79D5O4S6bMovykSZZJEuHuEfRX1R8rhNOQeFBLiTd1T0gA18uPMwU4nOUnA60YGMPoC5bNB1UFI2BZ/Tbunzpp0M85yj12nsYl8wg01QGWOk9AMbzY37TCrpq6DynMk+XxL6ZM6TSKSChBOExQcVIqieo/ItaiTriI4RWNVEqSchS8dE/CpJiBK0IZHonzqxwA43nh9o8kmfU40EWEkgTYlcuqvmYKoPWwwX1FuQDVD6VpT6hqgPCxqWtDROcKBB51TSww+Yf5W7wmInoQYMz/zVJpo8tXVRvOVfAoZhQbQ9TeZaG2eHifTz9RSsTfFg1u5J/j8AeFFBEbZiQg7Fovos0M80Upgr3hHMEv/QutIQgd+4K3Xm1Mm4Fj9O22LH9jgwxfz+Rx/+5URjMG1TkVjUZNYoxABC7GyjA4QkihrKckOpRQTYxCJhVQwXd190NXTB/6hYbjY1qG+cvLbs/Bc7cMwzTuBcwwAwcB19ZnhQFSnARwRTYkM0ZpkMsQWH5nzkaXW0RmA2dOuACmS1HT/wSPY4V64de4sKEVmyjzF7N2oGIFoNAo2nCYLxBLXH1AVj8SCMOAfYO181HgEJdiRND3XP3CV+nrFPTP1D0X86v3LV4Oq0WnDK1EWUtMjAKSNCev5sfTsRT8sXdIj24YIr72+HZ1jTPcSJWMBlrvuqILplZPBKjhRG2wmTYjERrC9Ftj6yqtM4qkc0aiPc4aSCQyPXGX3Tn3vl6yLCygUmuh6RvoaAOJu/RAkwhkkgObwR4K9OBOzgssJ4PfrzaDp5GlWdrz1Pjy0diW88MzjclrLpnYshhpy9kIL/O73rzBVT/WonOLhSJQ6NyQTcB7tXwRt1FL9F4Dv07fr6tPOBxz/8L1+WQvUQKL3epCRcH3gO9aFSRUYeKAfSFR21jfAn7b9DSUX1IXIlAB6fXBwMOn7fLltQTa48yYwmSpHOOyHYOgaOz/a1K/GL4Yp8e5MU2K0gTpdFCXSvPw1uNZ/GnG4YM2qCagR0aSl4aNGOHfxIjeUAZy7cJGVG72rFCdq2oaHpoHN6tH1r8/3rQqeLpzooj4tk7UtYwJO7NlZjw208g0f+boPunv9LEW9pKoGNj89EWLo8JKVz44c09n/iebTN3xHKS4HwB9emgpzZi3XSZ+myn2D59j5lyf6E+UCGj/7146ka4TWGxqeCFuxqTo1oEDn8+HHneAp/hRmV9bCmpUBKCk+CHv2dcPRr64naEPQjdl+/xCTbLLDU+yAmuoiuH+1B4oLqyDbtRi40Aal/w3zRye/G4RzLcNq5MeTgL5r643g3ZCApr27dixY8yDNrS9UoqvDX/XBXYt6oaSgGUoKV8Ldd82HJbedwmHqClxsuQ5Np85DT3cQunuC0NI6DHk5ubrcwoxpU2HeLUUIQFrt8ZQ4oMTjUM+9U7Kg0psFVosH5/vLcAY6Uwc+HB6EnmvHWXi+q6FLHwJrs7/GQ+/+45NREyA3Tglo5MfWN95pg0nlh1hCIstVjvZZikDp0hVA9VJtyKMBkYXYOQUQ4Z7ly2D50tshHB2ASKQr/pqd4AaLxa3ZKdEmaZeu7Gd1w8Ee6LseNq1X4nM+ullizLbIdJ3/vq10xmwaFd6pBBo06hoYjMC0KX2oCQvltQELiwIFORK0Whz42cICwg8+bsQRpBXerN8Di+fPQaniPYwRrAhUEPIYWL4IeI/ljghRI0d6dFw9CP6RDvjiuA8+2N8df9cIgZc+3/nP/6SCLeXdCycbdr+IfWjicwWHj/XBrn0tcP7Su2yoE+Rkp6Dm+LQ1mvqPDsDMqZMhO8sFl7u6VaFZBCtGjA4kws5iBRZGMyItEnhu/nB94Aw6vrNsYvbe3s5EOYtGBP+XcdkiM3/1uilyXJ3P7wF6+hEvrFh2C0yfvAGl5+TkQQwTId2cVb8IqoBRF0fpMzH5CRqDNENnz2FoR/DbXm/FYS9qWqylGyPwv5ovdr2Z8t7BtHaJdZ8/0186ffY+7M+j+EVORfVOfOtjMf3E8qvoEyaxjRHJGeaBQwLw0jNUsy53NyIBJ1go/mpdmwZevwpM7X79l++/1ZYOprS3ySEJXZQE7N6jbJ+e3IkLbUPQ2u6DCWWtYLMJarbWPPs3n5vAy2VouAMuXd0P/uF2+O+hHvj72+0QjsRMOT4ZfM3R3W+nvU0uo32C3RfOdHmmz9qHp4/SXKSiCZ09ATTAHjSDLsjJaWFpa5ezhAMrxk29GcGHQgNwpeczbO8QtLT3weso1E+/vBYPOP2PBmqrcQqf0UbJUW2VnbfqgSks1iZazl1RzdnTcuG+5aWwZEEZFLrnMNOgWiEIDoMmiPIeoG4YRInTeUYAJ1u910IYcF2Fz7++Fjezq4z1WK9H8BnvFx6T3eJzV65lm6ji2CVGcXaomlcAt2GZPT0X/UMeW1fQQtoAAyyN78M4S/Sz+UZ754huE5ZxUxbdBPX1h+++PNq+j9l2eSSBrsFvU1ZgeInxxBQXOJAUhy5bRiM6BXAcz26SOiX7+L/fax6Lfo/5L0aQCLqbdKuysSqeVpjApfAZzynwrThBG9Of0YzbT2ZkjagFbl+xSSuMYM1EsZ/M4HkdzknG5fdD40aAgYx1smnUsEkV/VVJfK1oxfNWeUtuY3PD+5/A//NBRxEsbvjp+On46fihjjFxghjS0vUih7Rqwdb16AqJnZv2VICYYHM0xJvPs/PLWhoVBvHSoHx+BUsQR5S+H4wABDyLgsUagYrFylw8FotBTJQyuVFWR9jyGfuM5yzLK8ZYAZFbyiaE5RBYESys0DwBywnQWr6m3Oc2U/VihYSQy/i5ddwJkCW9DmuHKAOhoCIUaDQMkWgIQjh9DUeCEAoHIBgJYD0CgfAwBENY8DwUwRIOsvVAShhNoFgtNrBbnRgiO8Fhc4HTloV1Fjun19g9LDYrzTLZ2fOMIMGqJmGQiAGE8wESMZgOJmuahOUiDQ7gskKSRCUJR2KUhLBEAIKnoAMhP4yEhmA4iHVwEOtB/OzH60MQRsKsgg2c9mxwOXIgy5GLJQfJjLA21SQnEF22KSbXVAgiUdcJHeRmmACCpiR4EXslfm0F04SYRgLtPCWCakRY1oqIUsuawsyEmYGcl5NVm0qUSlcqdn1N02UWRerUJARle91l/K8F6zMo/dBNd4KSWYi5kuOjpgFFdK2fagvey5P8Q4xbuBC5JSytE+oGSW6vsBw6o52ToLRpEq7IUSOtx8QR/k+AAQBero+NdHwyJwAAAABJRU5ErkJggg==
    mediatype: image/png
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          - endpoints
          - events
          - persistentvolumeclaims
          - pods
          - secrets
          - services
          verbs:
          - '*'
        - apiGroups:
          - ""
          resources:
          - namespaces
          verbs:
          - get
        - apiGroups:
          - apps
          resources:
          - daemonsets
          - deployments
          - replicasets
          - statefulsets
          verbs:
          - '*'
        - apiGroups:
          - apps
          resourceNames:
          - istio-workspace
          resources:
          - deployments/finalizers
          verbs:
          - update
        - apiGroups:
          - apps.openshift.io
          resources:
          - deploymentconfigs
          verbs:
          - '*'
        - apiGroups:
          - istio.openshift.com
          resources:
          - '*'
          verbs:
          - '*'
        - apiGroups:
          - maistra.io
          resources:
          - '*'
          verbs:
          - '*'
        - apiGroups:
          - maistra.io
          resources:
          - sessions
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - maistra.io
          resources:
          - sessions/finalizers
          verbs:
          - update
        - apiGroups:
          - maistra.io
          resources:
          - sessions/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - monitoring.coreos.com
          resources:
          - servicemonitors
          verbs:
          - create
          - get
        - apiGroups:
          - networking.istio.io
          resources:
          - '*'
          verbs:
          - '*'
        serviceAccountName: istio-workspace
      deployments:
      - name: istio-workspace-operator-controller-manager
        spec:
          replicas: 1
          selector:
            matchLabels:
              control-plane: controller-manager
          strategy: {}
          template:
            metadata:
              labels:
                app: istio-workspace
                control-plane: controller-manager
            spec:
              containers:
              - args:
                - serve
                command:
                - ike
                env:
                - name: WATCH_NAMESPACE
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.annotations['olm.targetNamespaces']
                - name: POD_NAME
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.name
                - name: OPERATOR_NAME
                  value: istio-workspace
                image: quay.io/maistra/istio-workspace:v0.2.0
                imagePullPolicy: Always
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8282
                  initialDelaySeconds: 15
                  periodSeconds: 20
                name: istio-workspace
                readinessProbe:
                  failureThreshold: 10
                  httpGet:
                    path: /readyz
                    port: 8282
                  initialDelaySeconds: 2
                  periodSeconds: 20
                resources:
                  limits:
                    cpu: 200m
                    memory: 50Mi
                  requests:
                    cpu: 200m
                    memory: 50Mi
              serviceAccountName: istio-workspace
              terminationGracePeriodSeconds: 30
      permissions:
      - rules:
        - apiGroups:
          - ""
          - coordination.k8s.io
          resources:
          - configmaps
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        serviceAccountName: istio-workspace
    strategy: deployment
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: true
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - istio
  - telepresence
  links:
  - name: Istio Workspace Documentation
    url: https://istio-workspace-docs.netlify.com/
  - name: How to install CLI tool
    url: https://github.com/maistra/istio-workspace#install-in-two-easy-steps
  maintainers:
  - email: aslak@redhat.com
    name: Aslak Knutsen
  - email: bartosz@redhat.com
    name: Bartosz Majsak
  maturity: alpha
  provider:
    name: Red Hat, Inc.
  version: 0.2.0
