apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: service-binding-editor-role
rules:
- apiGroups:
  - binding.operators.coreos.com
  resources:
  - servicebindings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - binding.operators.coreos.com
  resources:
  - servicebindings/status
  verbs:
  - get
