---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ meta.name }}-root-ca"
  namespace: "{{ meta.namespace }}"
data:
  key: "{{ lookup('file', '/tmp/' + meta.namespace + '-' + meta.name + '-root-ca.key') | b64encode }}"
  csr: "{{ lookup('file', '/tmp/' + meta.namespace + '-' + meta.name + '-root-ca.csr') | b64encode }}"
  crt: "{{ lookup('file', '/tmp/' + meta.namespace + '-' + meta.name + '-root-ca.crt') | b64encode }}"
