---
apiVersion: v1
kind: Secret
metadata:
  name: "zookeeper-{{ item }}"
  namespace: "{{ meta.namespace }}"
data:
  key: "{{ lookup('file', '/tmp/' + meta.namespace + '-' + meta.name + '-zookeeper-' + item | string + '.key') | b64encode }}"
  csr: "{{ lookup('file', '/tmp/' + meta.namespace + '-' + meta.name + '-zookeeper-' + item | string + '.csr') | b64encode }}"
  crt: "{{ lookup('file', '/tmp/' + meta.namespace + '-' + meta.name + '-zookeeper-' + item | string + '.crt') | b64encode }}"
---
