aiohttp==3.7.4.post0
appdirs==1.4.4
async-timeout==3.0.1
attrs==21.2.0
certifi==2021.5.30
chardet==4.0.0
distlib==0.3.2
filelock==3.0.12
flake8==3.9.2
idna==2.10
mccabe==0.6.1
multidict==5.1.0
pycodestyle==2.7.0
pyflakes==2.3.1
python-graphql-client==0.4.3
requests==2.25.1
typing-extensions==3.10.0.0
urllib3==1.26.5
virtualenv==20.4.7
websockets==9.1
yarl==1.6.3
